<% if (typeof totalPages !== 'undefined' && totalPages > 1) { %>
    <div class="pagination-wrapper" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        
        <!-- Előző gomb -->
        <% if (currentPage > 1) { %>
           
            <a href="?page=<%= currentPage - 1 %><%= typeof queryParams !== 'undefined' ? queryParams : '' %>" class="button small alt">
                &laquo; Előző
            </a>
        <% } else { %>
            <span class="button small disabled">&laquo; Előző</span>
        <% } %>

        <!-- Oldalszámok -->
        <% for(let i = 1; i <= totalPages; i++) { %>
           
            <a href="?page=<%= i %><%= typeof queryParams !== 'undefined' ? queryParams : '' %>" 
               class="button small <%= currentPage == i ? 'primary' : 'alt' %>">
               <%= i %>
            </a>
        <% } %>

        <!-- Következő gomb -->
        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %><%= typeof queryParams !== 'undefined' ? queryParams : '' %>" class="button small alt">
                Következő &raquo;
            </a>
        <% } else { %>
            <span class="button small disabled">Következő &raquo;</span>
        <% } %>

    </div>
<% } %>